/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.mask__shape {
  fill: white;
}

.shape--fill {
  fill: #000;
}

.text--transparent {
  fill: transparent;
}

.box-with-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 35vw;
  padding-left: 100%;
  margin: auto;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media (min-aspect-ratio: 1 / 2) {
  .text-fill {
    padding-top: 35vw;
  }
}

@media (min-aspect-ratio: 2 / 1) {
  .text-fill {
    padding-top: 70vh;
    padding-left: 190vh;
  }
}

/* Other styles */
html, body {
  height: 100%;
}

.overlay {
  background: #000000;
  font: 6.5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

.svg-defs {
  width: 0;
  height: 0;
}

.svg-inverted-mask {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex; }

.loading path {
  animation-name: draw;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  stroke-dasharray: 300;
  fill: white;
  stroke-dashoffset: 300;
  stroke: black;
  animation-timing-function: linear; }
