#site- {
  &wrapper {
    // Change background color on #site-menu also
    background-color: teal;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    &.show-nav #site-canvas {
      -webkit-transform: translateX(300px);
      transform: translateX(300px);
    }
  }
  &canvas {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(0);
    transition: .3s ease all;
  }
  &menu {
    // Change background color on #site-wrapper also
    &-content {
      padding: 18px;
      h4 {
        display: inline-block;
      }
      label {
        margin-left: 10px;
      }
    }
    background-color: teal;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 5;
    display: none;
    overflow-y: auto;
    &.show-nav {
      display: block;
    }
  }


  &tab {
    background-color: aqua;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: -300px;
    left: 200px;
    z-index: 5;
    transform: translateY(0);
    transition: .3s ease all;
    &.show-tab {
      transform: translateY(-300px);
    }
  }
}

.tab- {
  &selector {
    position: absolute;
    background-color: aqua;
    bottom: 0;
    left: 200px;
    width: 90px;
    height: 30px;
    padding: 5px;
    z-index: 5;
    transform: translateY(0);
    transition: .3s ease all;
    &:hover {
      background-color: black;
      color: white;
    }
    &.show-tab {
      transform: translateY(-300px);
    }
  }
  &content {
    background-color: aqua;
    padding: 15px;
    position: absolute;
  }
}

.side-menu- {
  &tab {
    position: absolute;
    background-color: cyan;
    width: 800px;
    left: -800px;
    bottom: 35px;
    z-index: 4;
    transform: translateY(0);
    transition: .3s ease all;
    &.show-tab {
      transform: translateX(800px);
    }
    &-selector {
      position: absolute;
      bottom: 35px;
      left: 0;
      z-index: 4;
      background-color: cyan;
      height: 30px;
      width: 50px;
      transform: translateY(0);
      transition: .3s ease all;
      &.show-tab {
        transform: translateX(800px);
      }
      &:hover {
        background-color: black;
        color: white;
      }
    }
    &-content {
      position: relative;
      padding: 0 15px 15px;
    }
  }
}

h1 .glyphicon-remove {
  position: relative;
  float: right;
}

.glyphicon {
  &.glyphicon-star {
    // opacity: 0;
    font-size: 50px;
    // animation-name: fadeIn;
    // animation-duration: 1s;
    // animation-delay: 1s;
    // animation-fill-mode:forwards;
    &.solid-star {
      // color: dodgerblue;
      color: $accent-color-dark;
      &.tiny {
        font-size: 10px;
      }
    }
    &.faded-star {
      color: $accent-color-light;
      &.tiny {
        font-size: 10px;
      }
    }
    &-empty {
      @extend .glyphicon.glyphicon-star;
      &.tiny {
        font-size: 10px;
      }
    }
  }
}

.overview {


  &Column1 {
    background-color: $primary-color-dark;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 13;
    float: left;
    line-height: 48px;
    height: 48px;
    padding-left: 7px;
    width: 72%;
    word-wrap:break-word;
    &:hover {
      text-shadow: 2px 2px $accent-color-light
    }
  }
  &Column2 {
    background-color:$primary-color;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
    float: right;
    line-height: 48px;
    text-align: center;
    height: 48px;
    width: 25%;
  }
}

.overviewEntryDiv{
  background-color: $primary-color;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  &:hover{
    box-shadow: 2px 2px $accent-color-light;
  }
  margin-top: 5px;
}
#overviewSelect {
  margin: 5px;
}
