// import a css reset
@import "../lib/normalize-scss/normalize";
@import "map";

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.circle {
  background-color: turquoise;
  border-radius: 100px;
  height: 175px;
  width: 175px;
  overflow: hidden;
}
.center {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.glyphicon {
  &.glyphicon-star {
    opacity: 0;
    font-size: 50px;
    color: darkturquoise;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode:forwards;
    &-empty {
      @extend .glyphicon.glyphicon-star;
    }
  }
}
.path-1 {
  transform: translateX(-925px) scale(1.5) translateY(-40px);
}
.path-2 {
  transform: translateX(-1200px) scale(2) translateY(-40px);
}
.wave-1 {
  stroke-dasharray: 350;
  stroke-dashoffset: 200;
  // animation-name: draw;
  // animation-duration: 5s;
  // animation-iteration-count: 1;
  -webkit-animation-name: draw, shake;
  -webkit-animation-delay: 0s, 3s;
  -webkit-animation-duration: 5s, 5s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, backwards;
}
.wave-2 {
  @extend .wave-1;
  -webkit-animation-direction: normal, reverse;
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
   }
}
@keyframes shake {
  0% { transform: translateX(20px); }
  50% { transform: translateX(-20px); }
  100% { transform: translateX(20px);}
}
