// import a css reset
@import "../lib/normalize-scss/normalize";
@import "map";

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.circle {
  background-color: turquoise;
  border-radius: 100px;
  height: 175px;
  width: 175px;
}
.center {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.glyphicon {
  &.glyphicon-star {
    opacity: 0;
    font-size: 50px;
    color: darkturquoise;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode:forwards;
    &-empty {
      opacity: 0;
      font-size: 50px;
      color: darkturquoise;
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode:forwards;
    }
  }
}


@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
