script(src="../../bower_components/angular/angular.js")
script(src="../../bower_components/angular-ui-router/release/angular-ui-router.js")
script(scr="../../bower_components/underscore/underscore.js")
//- script(src="../../bower_components/d3/d3.js")
script(src="../../bower_components/lodash/lodash.min.js")
script(src="../../bower_components/angular-google-maps/dist/angular-google-maps.min.js")
// we might have issues with the html loading before the google maps API 
// but I'll deal with that if it happens
script(src="https://maps.googleapis.com/maps/api/js?")
