include detailsModal

button(class="btn btn-default" ng-click="open()").
  Open me!
button(class="btn btn-default" ng-click="open(lg)").
  Large modal!
button(class="btn btn-default" ng-click="open(sm)").
  Small modal!
button(class="btn btn-default" ng-click="toggleAnimation()").
  Toggle animation!
