doctype html
html(lang="en" ng-app="app")
  head
    link(rel="stylesheet" type="text/css" href="styles/style.css")
  body(ui-view)
    section(ng-controller="mapController")
    //- Using include instead of extends
    //- block scripts
    include ./scripts.jade
