doctype html
html(lang="en" ng-app="app")
  head
    title Surf's Up
    include preload 
  body(ng-controller="HomeController as home")
    //- div.overlay(ng-attr-class="{{mapLoaded && 'fadeOut' || 'overlay' }}" ng-hide="animationFinished")
    div(ng-attr-class="{{mapLoaded && 'fadeOut' || 'overlay' }}" ng-hide="true")
      include loading 
    #site-wrapper(ng-class="sideMenu ? 'show-nav' : ''")
      #site-canvas
        #site-tab(ng-class="bottomTab ? 'show-tab' : ''")
          .tab-content(ng-show="bottomTab")
            include tabView  
        .tab-selector(ng-click="toggleTab()" ng-class="bottomTab ? 'show-tab' : ''").
          Surf's Up!
        #site-menu(ng-class="sideMenu ? 'show-nav' : ''" ui-view)
        include sideTab
        include navbar
        div(ng-controller="GoogleMapController" id="map")
    include dependencies
    include scripts
