doctype html
html(lang="en" ng-app="app")
  head
    title Gnar Swells, Brah
    include preload
  body(ng-controller="HomeController")
    div(ng-attr-class="{{mapLoaded && 'fadeOut' || 'overlay' }}" ng-hide="true")
      include loading
      //- img.center(src="../assets/loading.svg")
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href="#").
            Cerferus
          p.navbar-text.navbar-left.
            Gnar Swells, Brah
        a.mswPower.navbar-brand.navbar-right(href="http://magicseaweed.com")
          img(src="http://im-1-uk.msw.ms/msw_powered_by.png")
    .well.search-board.left-board
      form(ng-controller="TypeAheadController")
        input(type="text" ng-model="searchBeach" typeahead="beach for beach in beachChoices | filter:$viewValue" placeholder ="Search for a beach")
        button.btn.btn-info(ng-click=("zoomToBeach(searchBeach)")).
          Icon
    rzslider(rz-slider-model="distanceSlider" rz-slider-ceil="100")
    div(ui-view id="map")
    //- Using include instead of extends
    //- block scripts
    include dependencies
    include scripts
    //- Include templates for adding modals on map
    include ngTemplates
