doctype html
html(lang="en" ng-app="app")
  head
    title Gnar Swells, Brah
    include preload
  body(ng-controller="HomeController as home")
    //- div.overlay(ng-attr-class="{{mapLoaded && 'fadeOut' || 'overlay' }}" ng-hide="animationFinished")
    div(ng-attr-class="{{mapLoaded && 'fadeOut' || 'overlay' }}" ng-hide="true")
      include loading 
    #site-wrapper(ng-class="sideMenu ? 'show-nav' : ''")
      #site-canvas
        #site-tab(ng-class="bottomTab ? 'show-tab' : ''")
          .tab-content
            include tabView  
        .tab-selector(ng-click="toggleTab()" ng-class="bottomTab ? 'show-tab' : ''").
          Surf's Up!
        #site-menu(ng-class="sideMenu ? 'show-nav' : ''" ui-view)
          //- include sidebarView
        nav.navbar.navbar-inverse
          .container-fluid
            .navbar-header
              a.navbar-brand(href="#").
                Cerferus
              p.navbar-text.navbar-left.
                Gnar Swells, Brah
            button(type="button" ng-click="openSidebar()" ui-sref="default").
              Do Something
        .well.search-board.left-board
          form(ng-controller="TypeAheadController")
            input(type="text" ng-model="searchBeach" typeahead="beach for beach in beachChoices | filter:$viewValue" placeholder ="Search for a beach")
            //- button.btn.btn-info(ng-click=("zoomToBeach(searchBeach)")).
            button.btn.btn-info(ng-click=("zoomToBeach(searchBeach); openSidebar(); printCurrentBeach()") ui-sref="details").
              Icon
        div(ng-controller="GoogleMapController" id="map")
    //- Using include instead of extends
    //- block scripts
    include dependencies
    include scripts
    //- Include templates for adding modals on map
    include ngTemplates
