doctype html
html(lang="en" ng-app="app")
  head
    title Gnar Swells, Brah
    link(rel="stylesheet" type="text/css" href="../styles/style.css")
  body(ui-view)
    a(href="http://magicseaweed.com")
      img(src="http://im-1-uk.msw.ms/msw_powered_by.png")
    section(ng-controller="GoogleMapController")
      include map
    include details
    //- Using include instead of extends
    //- block scripts
    include dependencies
    include scripts
