doctype html
html(lang="en" ng-app="app")
  head
    title Gnar Swells, Brah
    include preload
  body(ui-view)
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href="#").
            Cerferus
          p.navbar-text.navbar-left.
            Gnar Swells, Brah
        a.mswPower.navbar-brand.navbar-right(href="http://magicseaweed.com")
          img(src="http://im-1-uk.msw.ms/msw_powered_by.png")
    .well.search-board.left-board
      form
        input(placeholder="Search for a surf spot")
        button.btn.btn-info.
          Icon
    a(href="http://magicseaweed.com")
      img(src="http://im-1-uk.msw.ms/msw_powered_by.png")
    div(ng-controller="GoogleMapController" id="map")
      //include map
    //d3-spot
    include details
    //- Using include instead of extends
    //- block scripts
    include dependencies
    include scripts
    //- Include templates for adding modals on map
    include ngTemplates
