doctype html
html(lang="en" ng-app="app")
  head
    title Surf's Up
    include preload 
  body(ng-controller="HomeController as home")
    //- div.overlay(ng-attr-class="{{mapLoaded && 'fadeOut' || 'overlay' }}" ng-hide="animationFinished")
    div(ng-attr-class="{{mapLoaded && 'fadeOut' || 'overlay' }}" ng-hide="true")
      include loading 
    #site-wrapper(ng-class="sideMenu ? 'show-nav' : ''")
      #site-canvas
        #site-tab(ng-class="bottomTab ? 'show-tab' : ''")
          .tab-content
            include tabView  
        .tab-selector(ng-click="toggleTab()" ng-class="bottomTab ? 'show-tab' : ''").
          Surf's Up!
        #site-menu(ng-class="sideMenu ? 'show-nav' : ''" ui-view)
        .side-menu-tab(ng-show="sideMenu && isOnDetails" ng-class="detailsTab ? 'show-tab' : ''" ng-controller="DetailsTabController")
          .side-menu-tab-content
            h1
              | {{beachName}}
              span.glyphicon.glyphicon-remove(ng-click="toggleDetailsTab()")
            | Blue Bottle hella trust fund, Marfa food truck yr before they sold out pickled Kickstarter try-hard flexitarian next level cred. Fashion axe normcore 90's, Blue Bottle hoodie Carles drinking vinegar farm-to-table direct trade 3 wolf moon before they sold out kogi messenger bag occupy post-ironic. Try-hard aesthetic lomo, cliche blog Blue Bottle synth messenger bag hella yr Pitchfork leggings pug. Food truck Wes Anderson PBR pop-up before they sold out quinoa jean shorts. Chambray Tumblr direct trade readymade farm-to-table. Mixtape meggings pork belly tattooed before they sold out. 8-bit fingerstache Pitchfork, iPhone direct trade chia cronut heirloom keffiyeh gluten-free Shoreditch irony cred.
            .row
              .col-md-3
                .circle.center
                  include anim/swellHeight.jade
                .center
                  strong.
                    Swell Height
                  .center.ng-cloak.
                    {{swellHeight}}
              .col-md-3    
                .circle.center
                  include anim/swellPeriod.jade
                .center
                  strong.
                    Swell Period
                  .center.ng-cloak.
                    {{swellPeriod}}
              .col-md-3    
                .circle.center
                  include anim/windSpeed.jade
                .center
                  strong.
                    Wind Speed
                  .center.ng-cloak.
                    {{windSpeed}}
              .col-md-3    
                .circle.center
                  include anim/windDirection.jade
                .center
                  strong.
                    Wind Direction
                  .center.ng-cloak.
                    {{windDirection}}
        .side-menu-tab-selector(ng-show="sideMenu && isOnDetails" ng-click="toggleDetailsTab()" ng-class="detailsTab ? 'show-tab' : ''").
          Details
        nav.navbar.navbar-inverse
          .container-fluid
            .navbar-header
              a.navbar-brand(href="#").
                Cerferus
              form.navbar-left(ng-controller="TypeAheadController" ui-sref="details" ng-submit="onSubmit()")
                span(type="submit" ui-sref="details" class="glyphicon glyphicon-search")
                input(type="text" ng-model="searchBeach" typeahead="beach for beach in beachChoices | filter:$viewValue" placeholder ="  Search for a beach")
              span.navbar-left(class="glyphicon glyphicon-info-sign" ng-click="openSidebar()" ui-sref="default")
        div(ng-controller="GoogleMapController" id="map")
    include dependencies
    include scripts
    include ngTemplates
