doctype html
html(lang="en" ng-app="app")
  head
    link(rel="stylesheet" type="text/css" href="../styles/style.css")
  body(ui-view)
    section(ng-controller="MapController")
      include map
    //- Using include instead of extends
    //- block scripts
    include dependencies
    include scripts
