svg.svg-defs(viewbox='0 0 600 300')
  // Symbol with text
  symbol#s-text(ng-cloak)
    text.text(text-anchor='middle', x='50%', y='50%', dy='.35em')
      | HANG {{counter}}
  // Mask with text
  mask#m-text(maskunits='userSpaceOnUse', maskcontentunits='userSpaceOnUse')
    rect.mask__shape(width='100%', height='100%')
    use.mask__text(xlink:href='#s-text')
.box-with-text
  // Container for video
  .text-fill
    video.video(src='http://zacharylester.com/tube.mp4', autoplay='', loop='', muted='')
  // Visible SVG
  svg.svg-inverted-mask(viewbox='0 0 600 300')
    rect.shape--fill(width='100%', height='100%', mask='url(#m-text)')
    use.text--transparent(xlink:href='#s-text')
