//- Modal template
script(type='text/ng-template' id="detailsModal.html")
  .modal-header
    .modal-title.
      {{beachName}}
  .modal-body
    .row
      .col-md-6
        .center
          span.glyphicon.glyphicon-star(ng-repeat="star in toRepeat(solidRating)")
          span.glyphicon.glyphicon-star-empty(ng-repeat="star in toRepeat(remainingStars(solidRating))")
        .center.
          Solid Rating: {{solidRating}}
      .col-md-6
        .center
          span.glyphicon.glyphicon-star(ng-repeat="star in toRepeat(fadedRating)")
          span.glyphicon.glyphicon-star-empty(ng-repeat="star in toRepeat(remainingStars(fadedRating))")
        .center.
          Faded Rating: {{fadedRating}}
    .row
      .col-md-3
        .circle.center
          include anim/swellHeight
        .center.
          Swell Height: {{swellHeight}}
      .col-md-3
        .circle.center
          include anim/swellPeriod
        .center.
          Swell Period: {{swellPeriod}}
      .col-md-3
        .circle.center
          include anim/windSpeed
        .center.
          Wind Speed:
      .col-md-3
        .circle.center
        .center.
          Wind Direction:
  .modal-footer
    button(btn btn-warning ng-click="cancel()").
      Cancel
