link(rel="icon" type="image/png" href="cerferus.png")
link(rel="stylesheet" type="text/css" href="../lib/angularjs-slider/dist/rzslider.css")
link(rel="stylesheet" type="text/css" href="../lib/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet" type="text/css" href="../assets/style.css")
