//- extends ./index.jade

block scripts
  script(src="bower_components/angular/angular.js")
  script(src="bower_components/angular-ui-router/angular-ui-router.js")
  script(src="bower_components/d3/d3.js")
  script(scr="bower_componenets/underscore/underscore.js")
