//- extends ./index.jade

script(src="../js/controllers/homeController.js")
script(src="../js/controllers/googleMapController.js")
script(src="../js/controllers/detailsController.js")
script(src="../js/controllers/detailsSidebarController.js")
script(src="../js/controllers/typeAheadController.js")
script(src="../js/services/animationService.js")
script(src="../js/services/mapService.js")
script(src="../js/services/d3Service.js")
script(src="../js/services/bestSpotService.js")
script(src="../app.js")
