//- extends ./index.jade

script(src="../js/controllers/homeController.js")
script(src="../js/controllers/googleMapController.js")
script(src="../js/controllers/detailsController.js")
script(src="../js/services/mapService.js")
script(src="../js/services/d3Service.js")
script(src="../js/directives/spotDirective.js")
script(src="../app.js")
