
<div id="site-menu-content"><span ng-click="closeSidebar()" class="glyphicon glyphicon-remove"></span>
  <h1>{{ beachInfo.name }}</h1>
  <div class="center"><span ng-repeat="star in toRepeat(beachInfo.forecast.solidRating)" class="glyphicon glyphicon-star solid-star"></span><span ng-repeat="star in toRepeat(beachInfo.forecast.fadedRating)" class="glyphicon glyphicon-star faded-star"></span><span ng-repeat="star in toRepeat(remainingStars())" class="glyphicon glyphicon-star-empty"></span></div>
  <h3>{{ beachInfo.time }}</h3>
  <h3>Update forecast time:  
    <rzslider rz-slider-model="timeIndex" rz-slider-ceil="7" class="time-slider"></rzslider>
  </h3>
  <button ng-click="getDirections()" class="btn btn-default">show route </button>
  <button ng-click="hideDirections()" class="btn btn-default">hide route</button>
</div>