.side-menu-tab(ng-show="sideMenu && isOnDetails" ng-class="detailsTab ? 'show-tab' : ''" ng-controller="DetailsTabController")
  .side-menu-tab-content
      span.glyphicon.glyphicon-remove(ng-click="toggleDetailsTab()")
    .row
      .col-md-3
        .circle.center
          include anim/swellHeight.jade
        .center
          strong.
            Swell Height
          .center.ng-cloak.
            {{beachInfo.forecast.swell.components.combined.height}}
      .col-md-3    
        .circle.center
          include anim/swellPeriod.jade
        .center
          strong.
            Swell Period
          .center.ng-cloak.
            {{beachInfo.forecast.swell.components.combined.height}}
      .col-md-3    
        .circle.center
          include anim/windSpeed.jade
        .center
          strong.
            Wind Speed
          .center.ng-cloak.
            {{beachInfo.forecast.wind.speed}}
      .col-md-3    
        .circle.center
          include anim/windDirection.jade
        .center
          strong.
            Wind Direction
          .center.ng-cloak.
            {{beachInfo.forecast.wind.compassDirection}}
.side-menu-tab-selector(ng-show="sideMenu && isOnDetails" ng-click="toggleDetailsTab()" ng-class="detailsTab ? 'show-tab' : ''").
  Details
