h1 Where should I Go?
  rzslider(rz-slider-model="distance" class="distance-slider" rz-slider-ceil="100")
h1 Look into the crystal ball:
  {{ forecastTime }}
  rzslider(rz-slider-model="timeIndex" class="time-slider" rz-slider-ceil="7")