#site-menu-content
  span(class="glyphicon glyphicon-remove" ng-click="closeSidebar()")
  h1 {{ selectedBeach.beachname }}
  h3 {{ forecastTime }}
  button(ng-click="closeSidebar()" ui-sref="default").
    Reset Sidebar
  h3 Update forecast time:  
    rzslider(rz-slider-model="timeIndex" class="time-slider" rz-slider-ceil="7")
//- 
//- .circle.center
//-   include anim/swellHeight.jade
//- .circle.center
//-   include anim/swellPeriod.jade
//- .circle.center
//-   include anim/windDirection.jade
//- .circle.center
//-   include anim/windSpeed.jade
