/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Modifications to Bootstrap styling */
.navbar {
  margin: 0px;
  background-color: #2F2F2F;
  border-radius: 0; }

.mswPower {
  padding: 0 15px; }

.navbar-inverse .navbar-text, .navbar-inverse .navbar-brand {
  color: white !important;
  z-index: 2; }

.search-board {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 120px;
  height: 50px;
  width: 230px; }
  .search-board form {
    margin: -12px -10px;
    position: absolute; }

/* Main styles */
.mask__shape {
  fill: white; }

.shape--fill {
  fill: #000; }

.text--transparent {
  fill: transparent; }

.box-with-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.text-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 35vw;
  padding-left: 100%;
  margin: auto;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.video {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

@media (min-aspect-ratio: 1/2) {
  .text-fill {
    padding-top: 35vw; } }

@media (min-aspect-ratio: 2/1) {
  .text-fill {
    padding-top: 70vh;
    padding-left: 190vh; } }

/* Other styles */
html, body {
  height: 100%; }

.overlay, .fadeOut {
  background: #000000;
  font: 6.5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0; }

.svg-defs {
  width: 0;
  height: 0; }

.svg-inverted-mask {
  position: absolute;
  width: 100%;
  height: 100%; }

.overlay, .fadeOut {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex; }

.loading path {
  animation-name: draw;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  stroke-dasharray: 300;
  fill: white;
  stroke-dashoffset: 300;
  stroke: black;
  animation-timing-function: linear; }

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  #site-wrapper.show-nav #site-canvas {
    -webkit-transform: translateX(300px);
    transform: translateX(300px); }

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateX(0);
  transition: .3s ease all; }

#site-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -300px;
  background-color: teal;
  padding: 15px;
  z-index: 5; }

#site-tab {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: -300px;
  left: 200px;
  z-index: 5;
  transform: translateY(0);
  transition: .3s ease all; }
  #site-tab.show-tab {
    transform: translateY(-300px); }

.tab-selector {
  position: absolute;
  background-color: aqua;
  bottom: 0;
  left: 200px;
  width: 90px;
  height: 30px;
  padding: 5px;
  z-index: 5;
  transform: translateY(0);
  transition: .3s ease all; }
  .tab-selector:hover {
    background-color: black;
    color: white; }
  .tab-selector.show-tab {
    transform: translateY(-300px); }

.tab-content {
  background-color: aqua;
  padding: 15px;
  position: absolute; }

.fadeOut {
  animation: fadeOut 2s 1 forwards; }

<<<<<<< HEAD
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.beaches, .beaches svg {
  position: absolute; }

.beaches svg {
  width: 150px;
  height: 20px;
  font: 14px sans-serif;
  font-family: 'Helvetica'; }

.beaches svg text {
  fill: white; }

.beaches circle {
  stroke: black;
  stroke-width: 1.2px; }

.winds, .winds svg {
  position: absolute; }

.winds svg {
  width: 300px;
  height: 300px;
  font: 14px sans-serif;
  font-family: 'Helvetica'; }

.winds line {
  stroke: black;
  stroke-width: 1.2px; }

=======
>>>>>>> (feat) Make wind speed animations dynamic
.circle, .cloud-1, .cloud-2, .cloud-3 {
  opacity: 0;
  background-color: turquoise;
  border-radius: 100px;
  height: 175px;
  width: 175px;
  overflow: hidden;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards; }

.cloud-1 {
  position: absolute;
  background-color: white;
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: -8px; }

.cloud-2 {
  position: absolute;
  background-color: white;
  height: 30px;
  width: 30px;
  bottom: -8px;
  left: 14px; }

.cloud-3 {
  position: absolute;
  background-color: white;
  height: 15px;
  width: 15px;
  bottom: -8px;
  left: 40px; }

.rectangle, .rectangle-slow, .rectangle-fast, .rectangle-1, .rectangle-1-slow, .rectangle-1-fast {
  height: 40px;
  width: 60px;
  overflow: hidden;
  position: relative;
  top: 25px;
  left: -60px;
  -webkit-animation-name: moveCloud, phase;
  -webkit-animation-duration: 5s, 10s;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-timing-function: linear, linear; }
  .rectangle-slow {
    -webkit-animation-duration: 10s, 10s; }
  .rectangle-fast {
    -webkit-animation-duration: 2s, 10s; }

.rectangle-1, .rectangle-1-slow, .rectangle-1-fast {
  transform: scale(2);
  -webkit-animation-duration: 7s; }
  .rectangle-1-slow {
    -webkit-animation-duration: 13s; }
  .rectangle-1-fast {
    -webkit-animation-duration: 3s; }

.center {
  position: relative;
  margin: 0 auto;
  text-align: center; }

.glyphicon.glyphicon-star, .glyphicon.glyphicon-star-empty {
  opacity: 0;
  font-size: 50px;
  color: darkturquoise;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards; }

.path-1 {
  transform: translateX(-925px) scale(1.5) translateY(-40px); }
  .path-1-small {
    transform: translateX(-1035px) scale(1) translateY(-10px); }
  .path-1-large {
    transform: translateX(-1200px) scale(2) translateY(-75px); }

.path-2 {
  transform: translateX(-1200px) scale(2) translateY(-40px); }
  .path-2-small {
    transform: translateX(-875px) scale(1.5) translateY(-20px); }
  .path-2-large {
    transform: translateX(-1450px) scale(2.5) translateY(-55px); }

.path-3, .path-3-slow, .path-3-fast, .path-4, .path-4-slow, .path-4-fast {
  transform: translateX(-1150px) scale(1.5) translateY(-40px);
  animation-name: waveIn;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; }
  .path-3-slow {
    animation-duration: 10s; }
  .path-3-fast {
    animation-duration: 2s; }

.path-4, .path-4-slow, .path-4-fast {
  animation-delay: 2.5s; }
  .path-4-slow {
    animation-delay: 5s;
    animation-duration: 10s; }
  .path-4-fast {
    animation-delay: 1s;
    animation-duration: 2s; }

.wave, .wave-1, .wave-2, .wave-3, .wave-4 {
  stroke-dasharray: 350;
  stroke-dashoffset: 200; }

.wave-1, .wave-2 {
  -webkit-animation-name: draw, shake;
  -webkit-animation-delay: 0s, 3s;
  -webkit-animation-duration: 5s, 5s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, backwards;
  -webkit-animation-timing-function: ease, linear; }

.wave-2 {
  -webkit-animation-direction: normal, reverse; }

.compassPointer {
  background: linear-gradient(to right, #ffffff 0%, #ffffff 49%, #ff0000 50%, #ff1a00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff1a00',GradientType=1 );
  height: 7px;
  width: 115px;
  position: absolute;
  top: 85px;
  left: 30px;
  animation: spinMiddle 5s infinite linear; }

#compassMiddle {
  height: 10px;
  width: 10px;
  background-color: black;
  top: 63px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none !important; } }

@keyframes waveIn {
  0% {
    opacity: 0; }
  75% {
    opacity: 1;
    transform: translateX(-1400px) scale(2) translateY(-40px); }
  100% {
    opacity: 0;
    transform: translateX(-1400px) scale(2) translateY(-40px); } }

@keyframes draw {
  100% {
    stroke-dashoffset: 0; } }

@keyframes shake {
  0% {
    transform: translateX(20px); }
  50% {
    transform: translateX(-20px); }
  100% {
    transform: translateX(20px); } }

@keyframes phase {
  25% {
    opacity: .5; }
  50% {
    opacity: 1; } }

@keyframes moveCloud {
  100% {
    left: 200px; } }

@keyframes spinMiddle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.beaches, .beaches svg {
  position: absolute; }

.beaches svg {
  width: 150px;
  height: 20px;
  font: 14px sans-serif;
  font-family: 'Helvetica'; }

.beaches svg text {
  font-color: teal; }

.beaches circle {
  stroke: black;
  stroke-width: 1.2px; }

.winds, .winds svg {
  position: absolute; }

.winds svg {
  width: 300px;
  height: 300px;
  font: 14px sans-serif;
  font-family: 'Helvetica'; }

.winds svg text {
  font-color: teal; }

.winds line {
  stroke: black;
  stroke-width: 1.2px; }

rzslider {
  margin: 20px 0 10px 0; }

rzslider.time-slider span.rz-bubble {
  font-size: 0; }

rzslider.distance-slider span.rz-bubble.rz-limit {
  font-size: 0; }
